body {
    background-color:#904c4c;
}

header {
    color: green;
}

ul {
    border: 1px solid black;
    color: darkblue;
}

.musical_artists {
    border: 1px solid black;
    color: darkblue;
    text-align: center;
    padding: 30px;
    margin-left: 40%;
    margin-right: 40%;
}
#jobs {
    border: 1px solid black;
}